fastapi
uvicorn[standard]
python-multipart
pydantic
pyyaml
numpy
scipy
pandas
pyarrow
tqdm
matplotlib
seaborn
plotly
soundfile
librosa
torch==2.6.0
torchaudio==2.6.0
transformers
accelerate
einops
pesq
pystoi
speechmos
pyloudnorm
nara-wpe
noisereduce
tensorboard
deepfilternet
gradio_client
python-pptx
